@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text: #0b1508;
  --background: #fafdf9;
  --primary: #69bd50;
  --secondary: #496241;
  --accent: #6f9f74;
}
#html {
  @apply bg-background h-[100vh] flex justify-center items-center;
}

.radical-limination-circle {
  background: radial-gradient(
    circle at center,
    hsla(263, 45%, 35%, 30%) 0%,
    hsla(273, 44%, 50%, 0%) 70%
  );
}
