@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --black: #1c1e1f;
  --blue: #54a6c9;
  --green: #79c954;
  --purple: #9554c9;
  --red: #c95454;
  --yellow: #c9af54;
  --white: #ffffff;

  --gray: #2c2e30;
  --lightblue: #83c3df;
}
html {
  background-color: var(--black);
}
